<div class="header-actions">
  <button nz-button nzType="primary" (click)="openModal()">Créer un enseignant</button>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Créer un Enseignant"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()"
  [nzOkLoading]="isSubmitting"
>
<ng-container *nzModalContent>
  <app-add-teacher
    [form]="adminForm"
    (formChange)="onFormChange($event)"
  ></app-add-teacher>
</ng-container>
</nz-modal>

<div class="content-container">
  <app-dynamic-table
    [title]="'Enseignants de l’école'"
    [columns]="columns"
    [data]="teachers"
    [selectable]="false"
  ></app-dynamic-table>
</div>
