:host {
  display: block;
  height: 100vh; /* hauteur full page */
  width: 100%;
}

nz-layout {
  width: 100%;
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
}

nz-sider {
  min-height: 100vh; /* hauteur full */
  flex: 0 0 auto;
}

::ng-deep router-outlet ~ * {
  flex: 1;
  width: 100%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}
nz-layout > nz-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  flex: 1;
}

nz-content {
  flex: 1; /* occupe tout l'espace vertical disponible */
  padding: 16px;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
}

.trigger {
font-size: 18px;
line-height: 64px;
padding: 0 24px;
cursor: pointer;
transition: color 0.3s;
}

.trigger:hover {
color: #1890ff;
}

.logo {
height: 32px;
background: rgba(255, 255, 255, 0.2);
margin: 16px;
}

nz-header {
background: #fff;
padding: 0;
}

nz-breadcrumb {
margin: 16px 0;
}

.inner-content {
padding: 24px;
background: #fff;
min-height: 360px;
}

nz-footer {
text-align: center;
}
