<div class="header-actions">
  <button nz-button nzType="primary" (click)="openModal()">Créer une Classe</button>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Créer une Classe"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()"
  [nzOkLoading]="isSubmitting"
>
  <ng-container *nzModalContent>
    <app-add-classroom
      [form]="classroomForm"
      [levels]="levels"
      [series]="series"
      [schools]="schools"
      (formChange)="onFormChange($event)"
    ></app-add-classroom>
  </ng-container>
</nz-modal>

<div class="content-container">
  <app-dynamic-table
    [title]="'Liste des classes'"
    [columns]="columns"
    [data]="classrooms"
    [selectable]="true"
  ></app-dynamic-table>
</div>
