<div class="header-actions">
  <button nz-button nzType="primary" (click)="openModal()">Créer un parent</button>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Créer un Parent"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()"
  [nzOkLoading]="isSubmitting"
>
<ng-container *nzModalContent>
  <app-add-parent
    [form]="parentForm"
    (formChange)="onFormChange($event)"
  ></app-add-parent>
</ng-container>
</nz-modal>

<div class="content-container">
  <app-dynamic-table
    [title]="'Parents d\'eleves'"
    [columns]="columns"
    [data]="parents"
    [selectable]="true"
  ></app-dynamic-table>
</div>
