<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>École</th>
      <th>Adresse</th>
      <th>Admin</th>
      <th>Téléphone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td>{{ data.school.name }}</td>
      <td>{{ data.school.address }}</td>
      <td>{{ data.user.firstName }} {{ data.user.lastName }}</td>
      <td>{{ data.user.phoneNumber }}</td>
      <td>{{ data.user.email }}</td>
    </tr>
  </tbody>
</nz-table>
