.header-actions {
  margin-bottom: 16px;
}

.content-container {
  margin-top: 16px;
  width: 100%;
}

.content-container nz-table {
  width: 100%;
}

.content-container ::ng-deep .ant-table {
  width: 100% !important;
}

.content-container ::ng-deep .ant-table-wrapper {
  width: 100% !important;
}

nz-tabset {
  background: white;
  padding: 16px;
  width: 100%;
}

nz-tabset ::ng-deep .ant-table {
  width: 100% !important;
}

nz-tabset ::ng-deep .ant-table-wrapper {
  width: 100% !important;
}

